*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
}
.wrapper{
    overflow: hidden;
}

.img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .video-fluid {
  max-width: 100%;
  height: 137px !important;
}
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f7f7f7;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}

/*
headeer top
*/
.topbar{
  background-color: #212529;
  padding: 6px;
  border-bottom:solid 0.8px white ;
}

.topbar .container .row {
  margin:-7px;
  padding:0;
}

.topbar .container .row .col-md-12 {
  padding:0;
  margin-top: 4px;
}


.topbar p{
  margin:0;
  display:inline-block;
  font-size: 13px;
  color: #f1f6ff;
}

.topbar p > i{
  margin-right:5px;
}
.topbar p:last-child{
  text-align:right;
}

header .navbar {
    margin-bottom: 0;
}

.topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all .3s linear;
}

.topbar li.topbar:hover {
    color: #1bbde8;
}

.topbar ul.info i {
    color: #131313;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 44px;
}

.topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
}

ul.social-network {
  border:none;
  margin:0;
  padding:0;
}

ul.social-network li {
  border:none;
  margin:0;
}

ul.social-network li i {
  margin:0;
}

ul.social-network li {
    display:inline;
    margin: 0 5px;
    border: 0px solid #2D2D2D;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
    color: #000;
    border:2px solid #ddd;
    box-shadow: 0 3px 3px #999;
    background: white;
    border-radius: 90%;
}

ul.social-network {
  list-style: none;
  margin: 5px 0 10px -25px;
  float: right;
}

/* contact icon*/

ul.contact-icon {
    border:none;
    margin:0;
    padding:0;
  }

  ul.contact-icon li {
    border:none;
    margin:0;
  }

  ul.contact-icon li i {
    margin:0;
  }

  ul.contact-icon li {
      display:inline;
      margin: 0 5px;
      border: 0px solid #2D2D2D;
      padding: 5px 0 0;
      width: -5px;
      display: inline-block;
      text-align: center;
      height: 32px;
      vertical-align: baseline;
      color: #000;
  }

  ul.contact-icon {
    list-style: none;
    margin: 5px 0 10px -25px;
    float: right;
  }

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
    color: #fff;
}
a {
  color: #0a0a0a;
  text-decoration: none;
}

#facebook{color:#3b5998}
#tweeter{color:#00acee}
#linkedin{color:#0e76a8}
#googleplus{color:#db4a39}

li {
    list-style-type: none;
}

.social-network li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 3.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.8s;
}

.social-network i {
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}


.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bg-dark {
    background-color: #222!important;
}


/*contact*/

.cotact ul li {
   list-style: none;
}

.cotact ul li a{
 text-decoration:none;
}
.cotact ul li a:hover{
  color: white;
}
.mx-background-top-linear {
    background: -webkit-linear-gradient(45deg, #54d400 48%, #1b1e21 48%);
    background: -webkit-linear-gradient(left, #54d400 48%, #1b1e21 48%);
    background: linear-gradient(45deg, #54d400 48%, #1b1e21 48%);
}


/*Menu style*/

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
  color: white !important;
  background: yellowgreen;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}

/*Title heading*/

#title-heading  { 
  
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand{
  text-shadow: 2px 2px 4px rgb(230, 176, 176) !important;
  font-weight:bold !important ;
}
#greet-marquee{
  margin-top: 5px;
  background: yellow;;
  padding: 5px;
}
.contact-list{
    display: flex;
}

#sidder{
  margin-top: 95px;
}
#aboutus-sec{
  margin-top: 5px;
}
/*Crosel*/
/* .carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

  /*Scroll behavir smooth*/
  html{
      scroll-behavior: smooth;
  }
  .btn-enqury{
    display: flex;
    justify-items: center;
    align-items: center;
  }


  @media(max-width:500px){
   #carousel-example-2{
    margin-top: 141px;
   } 
  }