*{
   font-family: 'Josefin Sans', sans-serif;
}
.more-icon{
  position: absolute;
  right: 8px;
  top: 392px;
}

section h2{
  font-size: 35px !important;
}

.custom-form{
  border: solid 1px lightgray;
  border-radius: 9px;
  padding: 15px;
}

  @media(max-width:500px){
    .sidenav li>a{
      border-bottom: solid 1px white !important;
    }

    section h2{
      font-size: 23px !important;
      font-weight: bolder;
    }
    .logo-title{
      font-size: 16px !important;
      margin-left: -52px !important;
    }

    .card-cont h4{
      font-size: 18px !important;
    }

    .card .card-content .card-title{
        font-size: 20px !important;
    }

    .more-icon{
    position: absolute !important;
    right: 19px !important;
    top: 330px !important;
    }

  }

  